.idea/
tldr.iml
Server/tldr/tldr/secret.py
/Client/TLDR-Client/obj
/Client/TLDR-Client/.vs/TLDR-Client/v15
/Client/TLDR-Client/bin/x86/Debug
/Client/TLDR-Client/bin/ARM/Release
*.user
/Client/TLDR-Client/bin/x86/Release/ilc
/Client/TLDR-Client/bin/x86/Release
/summarizer/__pycache__
/tldr/__pycache__
/Client/FindMainParagraph/Debug
/Client/TLDR-Client/Debug/FindMainParagraph
/Client/TLDR-Client/packages
/Client/TLDR-Client/Release/FindMainParagraph
